<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <h1 class="title">Note Ninja Tutor</h1>
            <menu class="menu">
                <ul class="list-menu">
                    <li class="item-menu">Home</li>
                    <li class="item-menu">About</li>
                    <li class="item-menu">Subjects</li>
                    <li class="item-menu">Contact</li>
                    <li class="item-menu">Sercice</li>
                </ul>
            </menu>
        </header>
    </body>
</html>